data.collection.path=C:\\Users\\nello\\Documents\\Intellij Projects\\search-engine\\test-collection100.tsv
data.charset=UTF-16
memory.threshold=75
blocks.documentIndex.path=${user.dir}/data/output/documentIndexBlocks/
blocks.vocabulary.path=${user.dir}/data/output/vocabularyBlocks/
blocks.invertedIndex.path=${user.dir}/data/output/invertedIndexBlocks/
blocks.invertedindex.type=SINGLE_FILE
blocks.merged.documentIndex.path=${blocks.documentIndex.path}/merged-document-index.binary
blocks.merged.vocabulary.path=${blocks.documentIndex.path}/merged-vocabulary.txt
blocks.merged.invertedIndex.path=${blocks.documentIndex.path}/merged-inverted-index.binary
blocks.invertedindex.docIdFilePath=/data/output/invertedIndexBlocks/docIds/
blocks.invertedindex.freqFilePath=/data/output/invertedIndexBlocks/docIds/
skipblocks.maxLen=500