data.collection.path=C:\\Users\\nello\\Documents\\Intellij Projects\\search-engine\\test-collection100.tsv
data.charset=UTF-16
memory.threshold=75
invertedIndex.useCompression=FALSE
blocks.documentIndex.path=${user.dir}/data/output/documentIndexBlocks/
blocks.vocabulary.path=${user.dir}/data/output/vocabularyBlocks/
blocks.invertedIndex.path=${user.dir}/data/output/invertedIndexBlocks/
blocks.skipBlock.path=${user.dir}/data/output/skipBlocks/
blocks.invertedindex.type=SINGLE_FILE
blocks.merged.documentIndex.path=${blocks.documentIndex.path}/merged-document-index.binary
blocks.merged.vocabulary.path=${blocks.documentIndex.path}/merged-vocabulary.txt
blocks.merged.invertedIndex.path=${blocks.documentIndex.path}/merged-inverted-index.binary
blocks.invertedindex.docIdFilePath=${user.dir}/data/output/invertedIndexBlocks/docIds/
blocks.invertedindex.freqFilePath=${user.dir}/data/output/invertedIndexBlocks/docIds/
skipblocks.maxLen=500
skipblocks.size.variable.enabled=false
data.output.upperBounds.path=${user.dir}/data/output/upperBounds/
performance.iterators.useCache=TRUE
performance.iterators.useThreads=TRUE
performance.iterators.threads.howMany=20
performance.iterators.cache.size=31
performance.iterators.debug=false
performance.iteratorFactory.cache.size=2047
performance.iteratorFactory.cache.enabled=TRUE
cache.class.debug=false
scoring.MaxScore.threshold=4.0
scoring.BM25.k1=1.2
scoring.BM25.B=0.75
performance.iteratorFactory.threads.enabled=true
performance.iteratorFactory.threads.howMany=10
performance.iteratorFactory.debug=true
